table {
  font-size: 70%;
  font-weight: 100;
}

th {
  padding: 5px;
  background-color: #545d6d;
}

td {
  padding: 5px;
}

table, td {
  background-color: #40444a;
  border: 1px solid;
}

table {
  border-radius: 5px;
}